<!DOCTYPE html>
<html ng-app="mainApp">
    <head>
        <title>Castle Of The Lake</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles/css.css">
        <link href="https://fonts.googleapis.com/css?family=Bevan" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
        <!--<link rel="stylesheet" href="/static/node_modules/sweetalert/dist/sweetalert.css">-->
    </head>

    <body class="body" ng-controller="mainCtrl">       
        <nav class="navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>-->
                    <a class="navbar-brand" style="font-family: 'Bevan';font-size: xx-large;">Castle Of The Lake</a>
                </div>
                <!--<div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>-->
            </div>
        </nav>

        </br>
        </br>
        </br>
        </br>

        <button type="button" class="col-md-offset-1 col-md-4 btn btn-info" data-toggle="modal" data-target="#specificUserModal">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </button>
</br>
        </br>
        </br>
        <div>
            <ul class="nav nav-tabs" role="tablist">
                  <li ng-repeat="currTab in Tabs" role="presentation" class="active">
                      <a href="#home" aria-controls="home" role="tab" data-toggle="tab">{{currTab}}</a>
                  </li>
            </ul>

            <div class="tab-content">
                <div ng-repeat="currTab in Tabs" role="tabpanel" class="tab-pane active" id="{{currTab}}">{{currTab}}</div>
            </div>
        </div>



        <!--<button type="button" class="btn btn-info" data-toggle="modal" data-target="#settingsModal"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>

        <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel"><b>Settings</b></h4>
                    </div>
                <div class="modal-body">
            
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info">Save changes</button>
                </div>
            </div>
        </div>-->

        <div class="modal fade" id="specificUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel"><b>Search By User</b></h4>
                    </div>
                <div class="modal-body">
                       <div id="uIdDiv" style="font-family: 'Lalezar'">
                            <span>Unique Id: </span>
                            <span id="uIdSpan">empty</span>
                        </div>                    
                    </br>
                    <center>
                        <img src="\static\images\abstract-user-flat-4-300px.png" class="profilePicture" id="profilePicture" alt="...">
                    </center>
                    </br>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="radio" id="UIDRadio" name="radioGroup" aria-label="..." onchange="userIDTypeChanged()" checked>
                        </span>
                        <input type="text" id="UIDInput" class="form-control" placeholder="UID" autofocus>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="UIDBtn" ng-click="UIDLoad()">Load</button>
                        </span>
                    </div>
                    </br>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="radio" id="USERNAMERadio" name="radioGroup" aria-label="..." onchange="userIDTypeChanged()">
                        </span>
                        <input type="text" id="USERNAMEInput" class="form-control" placeholder="USERNAME" disabled>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="USERNAMEBtn" disabled ng-click="USERNAMELoad()">Load</button>
                        </span>
                    </div>
                </div>





                <!--<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Groups
                            </a>
                        </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            Groups
                        </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Likes
                            </a>
                        </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            Likes
                        </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Friends
                            </a>
                        </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            Friends
                        </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Profile Data
                            </a>
                        </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            Profile Data
                        </div>
                        </div>
                    </div>
                </div>-->













                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="sendRequest()" data-dismiss="modal">Search</button>
                </div>
            </div>
        </div>-->
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/static/scripts/js.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>         -->
        <!--<script src="D:/Programming/Projects/HackatonMafat/routing.js"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-progressbar/0.9.0/bootstrap-progressbar.min.js"></script>
    </body>

</html>